.login-box{
  text-align: center;
  border: 5px;
  border-radius: 5px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255,255,255,.7);
}
#NC-logo{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
}
#title{
  font-weight: 300;
  padding-bottom: 30px;
  font-size: 30pt;
}
#login{
  height: 32px;
  font-size: 13pt;
  background-color: #FA8822;
  margin-bottom: 5px;
}
#create-account {
  color: black;
  padding-bottom: 10px;
}
#register{
  background-color: #FA8822;
}
