#league-title{
  font-size: 25pt;
  font-weight: 300;
  color: white;
  margin: 20px;
}
.wrapper{
  display: inline-block;
}
.left{
  float: left;
}
.right{
  float: left;
}
.league-bowlers{
}
p{
  color: white;
  font-size: 22pt;
  font-weight: 300;
  margin: 20px;
}
form,a{
  margin: 20px;
}
#add{
  color: white;
  background-color: #FA8822;
}
#buy-ticket{
  bottom: 5px;
  color: #FA8822;
}
#draw-ticket{
  margin-left: 20px;
  background-color:  #FA8822;
}
